.preview{
    /* height: 200px; */
    width: 350px; /* Ensures each image takes full width of its container */
    height: 200px; /* Maintains aspect ratio */
    border-radius: 8px; /* Rounded corners */
    display: block; /* Ensures the image is displayed as a block element */
    object-fit: cover;

}


.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px
}
.column{
    width: 350px;
    padding: 20px;

}

.location{
    display: flex;
    justify-content: space-between;
}

.star{
    position: relative;
    top:2px
}

p {
    font-size: 14px;
    font-family: sans-serif;
}

.price{
    font-weight: bold;
    padding-right: 3px;
}
.pricing{
    display: inline-flex;
    position: relative;
    bottom: 20px;
}

  .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 4px;
  }
