.newSpotForm{
position: absolute;
left: 40%;
font-family: sans-serif;
width: 500px;
padding: 20px;
}


.newSpotForm input{
    background-color: #E8F0FE
}


.createSpot{
    background-color: #FF5A5F;
    box-shadow: 0px 2px 2px 1px #484848;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    left:40%;
    top:10px;
}
.createSpot:hover{
    background-color:#484848; ;
}

div.aboveL{
    padding-bottom: 20px;
}

.newSpotForm h2{
   position: relative;
   top:10px
}
.newSpotForm label{
   position: relative;
   bottom: 5px;
}
#borderNew{
    border-bottom: 1px black solid;
}
#borderNew div{
    font-size: 16px;
}
.description{
    border-bottom: 1px black solid;
}
.description div{
    font-size: 16px;
}
.description textarea{
    height: 100px;
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    background-color: #E8F0FE
}


.locationSpot{
    display: flex;
}


.state{
    position: relative;
    bottom: 10px;
}
.state input{
    width: 50px;
    position: relative;
    left: 10px;
}

.state label{
    position: relative;
    left: 10px;
}

.city{
    position: relative;
    left: 5px;
    bottom: 10px;
    width:450px
}
.city input{
    position: relative;
    right: 5px;
}

.address{
padding-bottom: 10px;
}

.locationLL{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.lat{
    position: relative;
    bottom: 30px;
    /* width: 220px; */
    padding-right: 10px;
}
.lat label{
    position: relative;
    bottom: 20px;
}
.lat input{
    position: relative;
    bottom: 20px;
}


.long{
    position: relative;
    bottom: 30px;
    right: 15px;
    padding-left: 30px;

}
.long label{
    position: relative;
    bottom: 20px;
}
.long input{
    position: relative;
    bottom: 20px;
}
#createErrorsDown{
    color: red;
    position: relative;
    bottom: 15px;
}
#createErrorsUp{
    color: red;
    font-size: 12px;
}
#ImageErrors{
display: block;
}
#ImageErrors label{
padding: 5px;
color:red;
}
.imagesCreateSpot div{
    padding: 10px 0px;
}
.imagesCreateSpot input{
    width: 100%;
    cursor: pointer;
    border: 1px solid lightgray;
}
.imagesCreateSpot{
    padding-bottom: 10px;
}

#previewImg{
    display: none;
}

.previewButton{
display: flex;
position: relative;
top:10px;
justify-content: center;
border: 1px solid black;
height: 20px;
color:white;
background-color: #FF5A5F;
border-radius: 8px;
cursor: pointer;
}
.previewButton:hover{
    background-color: #484848;
}

#otherImages{
    display: none;
}

.otherImagesButton{
    display: flex;
    position: relative;
    top:10px;
    justify-content: center;
    border: 1px solid black;
    height: 20px;
    color:white;
    background-color: #FF5A5F;
    border-radius: 8px;
    cursor: pointer;

}

.otherImagesButton:hover{
    background-color: #484848;
}

.selected{
    position: relative;
    left: 170px;
}
