*{
    font-family: sans-serif;
}
.buttonProfile{
    box-sizing: border-box;
    width:100%;
    background-color: #FF5A5F;
    color: #ffffff;
    border: none;

    cursor: pointer;
    font-size: 16px;
}

.buttonProfile:hover{
    background-color: #484848;
}
.boxProfile{
    text-align: center;
    box-sizing: border-box;
    position: relative;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    height: auto;
    width: 200px;
    overflow: auto;

}
div .boxProfile{
    box-sizing: border-box;

   background-color: #FF5A5F;
}


.logo{
    position: absolute;
    color:#FF5A5F;
    top: 20px;
    height: 100px;
    width: 100px;
    transform: rotate(180deg);

}
.logoName{
    text-decoration: none;
    font-family: sans-serif;
    font-size: x-large;
    color: #FF5A5F;
    font-weight: bolder;
    position: relative;
    left: 100px;
    top: 20px;
}

.top{
    height: 60px;
    border-bottom: solid black 1px;
    list-style-type: none;
    display: flex; /* Displays list items in a row */
    justify-content: space-between;
    padding: 25px;
}

.profile{
    position: relative;
    height: 50px;
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;

}


.profile-logo{
    box-sizing: border-box;
    width: 100px;
    height: 100%;
    margin-right: 10px;
}
