*{
    font-family: sans-serif;
}
body{
    /* padding-top: 150px; */
}

.buttonProfile{
    position: relative;
    box-sizing: border-box;
    width:100%;
    background-color: #FF5A5F;
    color: #ffffff;
    border: none;
    z-index: 2;
    cursor: pointer;
    font-size: 16px;
}

.buttonProfile:hover{
    background-color: #484848;
}
.boxProfile{
    text-align: center;
    box-sizing: border-box;
    position: relative;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    height: auto;
    width: 200px;
    overflow: auto;

}
.boxProfile div{
    border-bottom: 2px solid black;
}
div .boxProfile{
    box-sizing: border-box;

   background-color: #FF5A5F;
}


.logo{
    position: absolute;
    color:#FF5A5F;
    top: 5px;
    height: 100px;
    width: 100px;
    transform: rotate(180deg);

}
.logoName{
    text-decoration: none;
    font-family: sans-serif;
    font-size: x-large;
    color: #FF5A5F;
    font-weight: bolder;
    position: relative;
    left: 100px;
    top: 20px;
}



.top{
    width: 100%;
    position: relative;
    left:0;
    top:0px;
    height: 60px;
    /* border: 1px black solid; */
    border-bottom: solid black 1px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 25px;

}
.newSpot{
position: relative;
right: 100px;
top: 35px;
}
.newSpotLink{
    text-decoration: none;
    color: #00525E ;
    cursor: pointer;

}
.relativePosition{
    position: relative;
    bottom: 15px;
    right: 25px;
}
.groupLinks{
    position: relative;
    top:3px;
    right:25px
}

.profile{
    /* position: relative; */

    height: 50px;
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;


}



.profile-logo{
    box-sizing: border-box;
    width: 100px;
    height: 100%;
    margin-right: 10px;
}
